
.vs/moduloVenta/v15/Server/sqlite3/storage.ide-shm
.vs/moduloVenta/v15/.suo
.vs/moduloVenta/v15/.suo
.vs/moduloVenta/v15/Server/sqlite3/storage.ide-shm
softcomputacion/bin/softcomputacion.dll
softcomputacion/bin/softcomputacion.pdb
softcomputacion/obj/Debug/softcomputacion.dll
softcomputacion/obj/Debug/softcomputacion.pdb
