<div class="" style="border:solid 1px #808080;">
    <div class="row">
        <div class="col-12">
            <p class="text-center fs-20"><i class=""></i> Reportes</p>
        </div>
    </div>
    <hr style="border-top: 1px solid #b5262a; margin-top:5px;" />
    <div class="col-12 text-center">
        <a href="@Url.Action("ReporteStockES","Reporte",null)" > Entrada y salida de productos </a>
    </div>
    <div class="col-12 text-center">
        <a href="@Url.Action("ReporteVenta","Reporte",null)"> Ventas </a>
    </div>
</div>

