@{
    
}


<div class="modal fade" id="popupBuscarCliente" tabindex="-1" role="dialog" aria-labelledby="popupCategoria" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body col-12" id="div-frmBusquedaCliente">
                <div class="row">
                        <div class="col-3">
                            <input class="form-control mr-sm-2 ml-sm-1 mt-10 w-full fs-17 text-center" id="idCliente" name="oCliente.idCliente" type="number" title="Codigo de Cliente" value="0">
                        </div>
                        <div class="col-4">
                            <input class="form-control mr-sm-2 ml-sm-1 mt-10 w-full fs-17" id="nombreCliente" name="oCliente.nombre" title="Nombre de Cliente" placeholder="Nombre" value="">
                        </div>
                        <div class="col-5">
                            <input class="form-control mr-sm-2 ml-sm-1 mt-10 w-full fs-17" id="apellidoCliente" name="oCliente.apellido" title="Apellido de Cliente" placeholder="Apellido" value="">
                        </div>
                        <button type="button" onclick="llenarSessionCliente()" class="btn btn-success m-t-20" style="width:100%">Buscar</button>
                </div>
                <div id="popUpListaCliente"></div>
            </div>
        </div>
    </div>
</div>


<script>

    function llenarSessionCliente() {

        var url = "@Url.Action("llenarSessionCliente", "Cliente")";
        var idCliente = parseInt($('#idCliente').val());
        var nombre = $('#nombreCliente').val();
        var apellido = $('#apellidoCliente').val();
        var data = { idCliente: idCliente, nombre: nombre, apellido: apellido };
        $.post(url, data).done(function (data) {
            if (data != "0") {
                var data1 = {};
                var url = "@Url.Action("_ListaCliente", "Cliente")";
                $.post(url, data1).done(function (data1) {
                    if (data1.length > 0) {
                        $('#popUpListaCliente').html(data1);
                    }
                });
            }
        });
    }
</script>
